@import url("http://fonts.googleapis.com/css?family=Muli");
body {
  background: url("../image/tree_bark.png");
  font-family: 'Muli', sans-serif;
}
/* USEFUL MACRO FUNCTIONS */
/* Color classes */
.blue {
  background: #2980b9;
}
.blue:checked {
  background: #3498db;
}
.red {
  background: #e74c3c;
}
.diamond {
  background: #b9f2ff;
}
/* Top horizontal menu bar */
a {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
#top {
  z-index: 100;
  font-family: 'Muli', sans-serif;
  position: relative;
  margin: 20px;
  margin-left: 250px;
  margin-right: 250px;
  margin-bottom: 50px;
  padding: 15px;
  text-align: left;
}
#top li {
  list-style: none;
  color: #fff;
  font-weight: 400;
  display: inline-block;
}
#top li > a,
a:visited {
  padding: 15px;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#top li > a:hover {
  background: rgba(0,0,0,0.1);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#top li nav {
  float: none;
  top: 50px;
  display: none;
  position: absolute;
}
#top li:hover nav {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
}
#top li:hover nav:last-child {
  -webkit-border-radius: 0px 0px 6px 6px;
  border-radius: 0px 0px 6px 6px;
}
.navsearch {
  font-family: FontAwesome, 'Muli', sans-serif;
  position: absolute;
  color: #fff;
  right: 9px;
  top: 11px;
  background: rgba(0,0,0,0.1);
  border: none;
  padding: 5px;
  padding-left: 30px;
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.navsearch:focus {
  background: #fff;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #000;
}
#main {
  background: rgba(255,255,255,0.6);
  position: relative;
  margin-left: 250px;
  margin-right: 250px;
  margin-top: -50px;
  padding: 15px;
  padding-top: 50px;
  padding-bottom: 50px;
}
#left-menu {
  color: #fff;
  display: block;
  left: -200px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  position: fixed;
}
.sidebar {
  position: absolute;
  top: 0px;
  width: 250px;
  background: #add8e6;
  height: 100%;
}
.sidebar.left {
  left: -200px;
  float: left;
}
.sidebar.right {
  right: -200px;
  float: right;
}
.sidebar ul {
  padding: 15px;
}
.sidebar ul li {
  position: absolute;
  padding-bottom: 20px;
  text-align: center;
  left: 0px;
  margin-left: auto;
  width: 100%;
  margin-right: auto;
  margin-bottom: 20px;
  list-style-type: none;
}
.sidebar ul li a {
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  position: relative;
  height: 20px;
  width: 100%;
  text-decoration: none;
  margin-bottom: 20px;
  color: #000;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.sidebar ul li a:hover {
  background: rgba(0,0,0,0.1);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#label-left {
  position: absolute;
  left: 195px;
  top: 40%;
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}
#label-right {
  position: absolute;
  right: 185px;
  top: 40%;
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}
