@import url(http://fonts.googleapis.com/css?family=Muli)

body
  background url(../image/tree_bark.png)
  font-family 'Muli', sans-serif

////////////////////////////
/* USEFUL MACRO FUNCTIONS */
////////////////////////////
// Border radius macro
border-radius()
  -webkit-border-radius arguments
  border-radius arguments
 
// Transition macro
transition()
  -webkit-transition arguments
  -moz-transition arguments
  transition arguments

margin-sides()
  margin-left arguments
  margin-right arguments

transform()
  -moz-transform arguments
  -webkit-transform arguments

///////////////////
/* Color classes */
///////////////////
.blue
  background #2980B9

.blue:checked
  background #3498DB

.red
  background #e74c3c 

.diamond
  background #B9F2FF 

/////////////////////////////
/* Top horizontal menu bar */
/////////////////////////////
a
  transition all 0.3s ease-in

#top
  z-index 100
  font-family 'Muli', sans-serif
  position relative
  //border-radius 6px
  margin 20px 
  margin-sides 250px
  margin-bottom 50px
  padding 15px
  text-align left

#top li
  list-style none
  color #fff
  font-weight 400
  display inline-block

#top li > a, a:visited
  padding 15px
  color #fff
  text-decoration none
  transition all .3s ease-in-out

#top li > a:hover
  background rgba(0, 0, 0, 0.1)
  transition all .3s ease-in-out

#top li nav
  float none
  top 50px
  display none
  position absolute

#top li:hover nav
  display block
  padding-top 15px
  padding-bottom 15px

#top li:hover nav:last-child
  border-radius 0px 0px 6px 6px

.navsearch
  font-family FontAwesome, 'Muli', sans-serif
  position: absolute
  color #fff
  right 9px
  top 11px
  background rgba(0, 0, 0, 0.1)
  //border-radius 6px
  border none
  padding 5px
  padding-left 30px
  outline none
  transition all .3s ease-in-out

.navsearch:focus
  background #fff
  font-weight 400
  transition all .3s ease-in-out
  color #000

#main
  background rgba(255, 255, 255, 0.6)
  position relative
  margin-sides 250px
  margin-top -50px
  padding 15px
  padding-top 50px
  padding-bottom 50px
  
#left-menu
  color #fff
  display block
  left -200px
  padding-top 15px
  padding-bottom 15px
  text-align center
  position fixed
  
// .floater
//   color #fff
//   width: 200px
//   height 100%
//   margin-bottom -10px
// 
// .floater.left
//   float left
//   margin-left -200px
// 
// .floater.right
//   float right
//   margin-right -200px
// 
// .floater .sidebar
//   padding-top 15px
//   padding-bottom 15px
//   text-align center
//   clear both
//   height 240px
//   position relative
//   
// .floater .sidebar ul
//   list-style-type none
// 
// .floater .sidebar li
//   margin-left -40px
//   list-style-type none
// 
// .floater .sidebar li > a
//   padding 15px 56px 15px
// 
// .floater .sidebar li > a:hover
//   background rgba(0, 0, 0, 0.1)
//   transition all .3s ease-in-out
// 
// .floater .sidebar a
//   text-decoration none

.sidebar
  position absolute
  top 0px
  width 250px
  background #ADD8E6 
  height 100%

.sidebar.left
  left -200px
  float left

.sidebar.right
  right -200px
  float right

.sidebar ul 
  padding 15px

.sidebar ul li
  position absolute
  padding-bottom 20px
  text-align center
  left 0px
  margin-left auto
  width: 100%
  margin-right auto
  margin-bottom 20px
  list-style-type none
  // margin-left 13%
 
.sidebar ul li a
  padding 10px
  padding-left 50px
  padding-right 50px
  position relative
  height 20px 
  width 100%
  text-decoration none  
  margin-bottom 20px
  color #000
  transition all .3s ease-in-out

.sidebar ul li a:hover
  background rgba(0, 0, 0, 0.1)
  transition all .3s ease-in-out

#label-left
  position absolute
  left 195px
  top 40% 
  transform rotate(90deg)

#label-right
  position absolute
  right 185px
  top 40%
  transform rotate(-90deg)
